.main {
  width: 70%;
  margin: auto;
  text-align: center;
}
.input {
  width: 50%;
  margin: auto;
}
.inputField {
  width: 100%;
  text-align: right;
}
.keyboard {
  width: 40%;
  margin: auto;
  display: inline-block;
}
.numberButton,
.clearAllButton,
.cos,
.clearButton {
  width: 30%;
}
.operationButtons {
  width: 10%;
  margin: auto;
  display: inline-block;
}
.operationButton,
.equalButton {
  width: 100%;
}
